@charset "UTF-8";
.black000 {
  color: #000; }

.redCor {
  color: #ED0E47; }

.blueCor {
  color: #0066ff; }

.fl {
  float: left; }

.fr {
  float: right; }

.cl {
  float: both; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.tc {
  text-align: center; }

.w120 {
  width: 1.2rem; }

.mt20 {
  margin-top: .2rem; }

.app-pro-holder {
  position: relative;
  max-width: 15rem; }

.app-scroller-wrap {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: .2rem;
  overflow: auto;
  /* winphone8和android4+ */
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  /* ios5+ */
  height: 1.2rem; }

.app-scroller {
  position: absolute;
  left: 0;
  white-space: nowrap;
  width: auto;
  font-size: 0; }
  .app-scroller li {
    color: #666;
    -webkit-box-flex: 1;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    padding: .2rem 0 0; }
    .app-scroller li a {
      padding: 0 .2rem;
      display: block; }
    .app-scroller li.act a {
      color: #FF3838; }

.choose-items-wp {
  position: relative; }
  .choose-items-wp li span {
    font-size: .28rem;
    line-height: .46rem;
    display: block; }
    .choose-items-wp li span.quick-box {
      margin: 0 auto;
      height: .4rem;
      width: .4rem;
      display: block;
      background-size: .4rem .4rem; }
    .choose-items-wp li span img {
      height: .4rem; }
  .choose-items-wp p {
    position: absolute;
    width: 1.4rem;
    top: 1.1rem;
    left: 0px;
    border-top: 0.06rem solid #ED0E47;
    text-align: center;
    z-index: 100; }

.app-pd-wp {
  position: relative;
  overflow: hidden; }

.app-swipe-ul {
  margin: 0;
  overflow: hidden;
  width: 7.5rem; }
  .app-swipe-ul li {
    position: relative;
    float: left;
    overflow: hidden; }
  .app-swipe-ul img {
    width: 100%;
    max-width: 7.5rem; }

.app-pd-list li {
  width: 3.7rem;
  float: left;
  margin-right: .1rem;
  margin-bottom: .1rem;
  background: #fff; }
  .app-pd-list li:nth-child(2n) {
    margin-right: 0; }
  .app-pd-list li a {
    display: block; }
  .app-pd-list li .info-img {
    width: 3.7rem;
    height: 3.7rem;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #fff; }
    .app-pd-list li .info-img img {
      max-width: 3.7rem;
      max-height: 3.7rem;
      vertical-align: middle;
      text-align: center; }
    .app-pd-list li .info-img :after {
      content: '';
      width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      float: left; }
  .app-pd-list li .info-bar {
    padding: .2rem .2rem .2rem;
    background-color: #fff; }
    .app-pd-list li .info-bar .pro-title {
      font-size: .28rem;
      line-height: .32rem;
      height: .64rem;
      overflow: hidden;
      color: #333; }
    .app-pd-list li .info-bar .e-numb {
      color: #F5A623;
      font-size: .18rem;
      text-align: left;
      height: .40rem;
      padding-top: .3rem; }
      .app-pd-list li .info-bar .e-numb .sale-price {
        font-size: .28rem; }
        .app-pd-list li .info-bar .e-numb .sale-price em {
          font-size: .20rem;
          padding-right: .02rem; }
      .app-pd-list li .info-bar .e-numb .tag-price {
        color: #ccc; }
      .app-pd-list li .info-bar .e-numb em {
        font-size: .28rem;
        padding-right: .08rem; }

.hor-list li {
  width: 6.9rem;
  padding: .3rem .3rem;
  margin: 0;
  border-bottom: 1px solid #DEDEDE; }
  .hor-list li .info-img {
    float: left;
    width: 1.6rem;
    height: 1.6rem;
    padding-right: .2rem; }
    .hor-list li .info-img img {
      max-width: 1.6rem;
      max-height: 1.6rem; }
  .hor-list li .info-bar {
    float: left;
    padding: 0;
    width: 5.1rem;
    height: 1.6rem;
    overflow: hidden; }
    .hor-list li .info-bar .pro-title {
      font-size: .28rem;
      line-height: .32rem;
      height: .64rem;
      overflow: hidden;
      color: #333; }
    .hor-list li .info-bar .e-numb {
      color: #F5A623;
      font-size: .18rem;
      text-align: left;
      height: .40rem; }
      .hor-list li .info-bar .e-numb .sale-price {
        font-size: .28rem; }
        .hor-list li .info-bar .e-numb .sale-price em {
          font-size: .20rem;
          padding-right: .02rem; }
      .hor-list li .info-bar .e-numb .tag-price {
        color: #ccc; }
      .hor-list li .info-bar .e-numb em {
        font-size: .28rem;
        padding-right: .08rem; }

.ordersList {
  float: left;
  padding: .2rem 0; }
  .ordersList li {
    float: left;
    background: #fff;
    width: 6.9rem;
    padding: .3rem .3rem;
    border-bottom: 1px solid #DEDEDE; }
    .ordersList li a {
      display: block; }
    .ordersList li .info-img {
      float: left;
      width: 1.6rem;
      height: 1.6rem;
      margin-right: .2rem;
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background-color: #fff; }
      .ordersList li .info-img img {
        max-width: 1.6rem;
        max-height: 1.6rem;
        vertical-align: middle;
        text-align: center; }
      .ordersList li .info-img :after {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        float: left; }
    .ordersList li .info-bar {
      float: left;
      padding: 0;
      width: 5.1rem;
      background-color: #fff; }
      .ordersList li .info-bar .pro-wp {
        float: left;
        height: .64rem; }
        .ordersList li .info-bar .pro-wp .pro-title {
          float: left;
          width: 3.1rem;
          font-size: .28rem;
          line-height: .32rem;
          height: .64rem;
          overflow: hidden;
          color: #000; }
        .ordersList li .info-bar .pro-wp .e-numb {
          float: left;
          width: 2rem;
          color: #F5A623;
          font-size: .18rem;
          text-align: left;
          height: .64rem;
          line-height: .32rem; }
          .ordersList li .info-bar .pro-wp .e-numb span {
            width: 2rem;
            height: .32rem;
            overflow: hidden;
            text-align: right;
            display: block; }
            .ordersList li .info-bar .pro-wp .e-numb span.e-num i {
              display: block;
              font-size: .24rem;
              color: #999; }
            .ordersList li .info-bar .pro-wp .e-numb span.e-num ::before {
              content: "";
              display: inline-block;
              width: .12rem;
              height: .12rem;
              margin-right: .1rem;
              background: url(../../images/point/multiply.png) center no-repeat;
              background-size: 100%;
              font-weight: 400; }
          .ordersList li .info-bar .pro-wp .e-numb em {
            font-size: .28rem;
            padding-right: .08rem; }
    .ordersList li .info-attr {
      float: left;
      width: 5.1rem;
      padding-top: .3rem; }
      .ordersList li .info-attr span {
        font-size: .24rem;
        color: #999;
        margin-right: .2rem; }
  .ordersList .order-pro-list.order-box li {
    border-top: 1px solid #dedede;
    width: 7.5rem;
    padding: 0;
    margin-bottom: .2rem;
    background: #fff; }
    .ordersList .order-pro-list.order-box li .info-bar {
      background: none; }
    .ordersList .order-pro-list.order-box li .pro-list {
      float: left;
      width: 6.9rem;
      height: auto;
      background: #f5f5f5;
      padding: .1rem .3rem;
      margin-bottom: .05rem; }
    .ordersList .order-pro-list.order-box li .cart-title {
      width: 6.9rem;
      height: .3rem;
      line-height: .3rem;
      padding: .28rem .3rem;
      font-size: .28rem; }
      .ordersList .order-pro-list.order-box li .cart-title .orderState {
        color: #ED0E47; }

.order-book-tip {
  padding: .3rem .3rem;
  width: 6.9rem; }
  .order-book-tip .order-list-total-pay {
    color: #ED0E47;
    font-size: .28rem; }
    .order-book-tip .order-list-total-pay span.name {
      font-size: .24rem; }
    .order-book-tip .order-list-total-pay span.price {
      font-size: .38rem;
      vertical-align: middle; }

.cart-group .cart-group-item {
  position: relative;
  padding: .2rem .3rem;
  background: #fff; }
  .cart-group .cart-group-item .item-icon {
    position: absolute;
    top: 50%;
    margin-top: -.25rem;
    width: .52rem;
    height: .47rem;
    margin-right: .2rem;
    background: url(../../images/point/duihuan_add.png) no-repeat;
    background-size: .52rem .47rem; }
  .cart-group .cart-group-item .delivery-lite-info {
    font-size: .28rem;
    width: 6.1rem;
    margin-left: .8rem; }
    .cart-group .cart-group-item .delivery-lite-info .impor-info-det {
      color: #999; }

.result-sort {
  width: 7.5rem;
  height: .98rem;
  background: #fff;
  margin-bottom: .1rem;
  overflow: hidden; }
  .result-sort.five-li {
    border-bottom: 1px solid #dedede;
    position: relative; }
    .result-sort.five-li li {
      width: 1.5rem; }
    .result-sort.five-li p {
      width: 1.5rem;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0rem;
      border-top: 0.06rem solid #ED0E47;
      overflow: hidden;
      text-align: center;
      z-index: 100; }
  .result-sort li {
    float: left;
    width: 1.875rem;
    text-align: center;
    color: #666;
    font-size: .28rem;
    height: .98rem;
    line-height: .98rem; }
    .result-sort li.cur {
      color: #FF3838; }
    .result-sort li.arrow {
      background: url(../../images/point/sorf.png) 1.25rem center no-repeat;
      background-size: .16rem .34rem;
      display: block; }
    .result-sort li.desc {
      background: url(../../images/point/desc.png) 1.25rem center no-repeat; }
    .result-sort li.asc {
      background: url(../../images/point/asc.png) 1.25rem center no-repeat; }
    .result-sort li.icons-list {
      width: 1.8rem;
      border-left: 1px solid #dedede;
      font-weight: 400; }
    .result-sort li.hor-icon {
      background: url(../../images/point/hor.png) center no-repeat; }
    .result-sort li.ver-icon {
      background: url(../../images/point/ver.png) center no-repeat;
      background-size: .48rem .48rem; }
  .result-sort .cf:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden; }

.fix-box {
  position: fixed;
  bottom: 0;
  background: #fff;
  margin: 0 auto;
  left: 0;
  right: 0; }

.bts1 {
  border-top: 1px solid #dedede; }

.pay-item {
  width: 6.9rem;
  padding: .2rem .3rem;
  margin: 0 auto; }

.cart-footer {
  width: 7.5rem;
  margin: 0 auto;
  padding: 0;
  height: 1rem;
  line-height: 1rem; }
  .cart-footer a.th-btn {
    height: 1rem;
    line-height: 1rem;
    border-radius: 0;
    margin-left: .2rem; }

.w20 .title-list p {
  width: 20%; }

.ordersAdd-box {
  padding-top: .2rem; }
  .ordersAdd-box .cart-group {
    width: 5.5rem;
    height: 2.44rem;
    border: 1px solid #dedede; }
    .ordersAdd-box .cart-group .cart-group-item .item-icon {
      width: .26rem;
      height: .26rem;
      left: .2rem;
      margin-top: -.13rem;
      background: url(../../images/point/duihuan_dizhi.png) no-repeat;
      background-size: .26rem .26rem; }
    .ordersAdd-box .cart-group .add-null .add-icon {
      display: inline-block;
      margin-top: -0.05rem;
      margin-right: 0.05rem;
      width: .26rem;
      height: .26rem;
      vertical-align: middle;
      background: url(../../images/point/add-icon.png) no-repeat;
      background-size: .26rem .26rem; }
    .ordersAdd-box .cart-group .add-null .add-name {
      line-height: 2rem;
      font-size: .26rem; }
    .ordersAdd-box .cart-group .delivery-lite-info {
      font-size: .28rem;
      width: 4.6rem;
      margin-left: .4rem; }
      .ordersAdd-box .cart-group .delivery-lite-info .impor-info-det {
        text-align: left;
        height: .8rem;
        overflow: hidden; }
    .ordersAdd-box .cart-group .cart-group-choose {
      padding: .2rem; }
      .ordersAdd-box .cart-group .cart-group-choose span {
        font-size: .24rem;
        height: .8rem;
        line-height: .4rem; }
      .ordersAdd-box .cart-group .cart-group-choose .round {
        vertical-align: middle;
        margin-top: -.05rem;
        margin-right: .05rem;
        display: inline-block;
        border: 1px solid #000;
        border-radius: 50%;
        width: .22rem;
        height: .22rem; }
    .ordersAdd-box .cart-group.cur .cart-group-choose {
      padding: .2rem; }
      .ordersAdd-box .cart-group.cur .cart-group-choose span.add-name {
        color: #ED0E47; }
      .ordersAdd-box .cart-group.cur .cart-group-choose .round {
        border: 1px solid #ED0E47;
        background: url(../../images/point/c-ok.png) no-repeat;
        background-size: .23rem .23rem; }

.pdb120 {
  padding-bottom: 1.2rem; }

/*# sourceMappingURL=brand.css.map */
